<!DOCTYPE html>
<html ng-app="Test">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!-- sp-api -->
    <script src="../app.js"></script>

    <!-- app -->
    <script>
        var app = angular.module('Test', [
            'spBubble'
        ]);

        app.config(['BubbleProvider', function (bubbleProvider) {
        }]);

        app.run(['Bubble', function (bubble) {
            bubble.show({
                id: 'leibale',
                controller: ['$scope', function ($scope) {
                    $scope.test = function () {
                        window.alert('test');
                    }
                }],
                position: {
                    top: 0,
                    left: 0
                },
                template: '<button ng-click="test()">test</button>',
                nextTo: document.querySelector('#after'),
                hideTime: 1000
            }).then(function () {
                console.log('bubble removed');
            });

            setTimeout(function () {
                bubble.hide('leibale');
            }, 10000);
        }]);

        app.controller('TestCtrl', ['$scope', function ($scope) {
        }]);
    </script>
</head>
<body ng-controller="TestCtrl" style="background: red;">
<div style="position: relative; left: 100px;">
    <div id="after" style="position: absolute; width: 200px; height: 200px; background: blue; left: 200px;">bubble will show after this element</div>
</div>
</body>
</html>
